/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');
/* Import Google Fonts 
DM serif Display
Poppins
*/

body {font-family: "Poppins", sans-serif;
    background-color:lightblue;
}

.sharp-corners * {border-radius: 0; /* sharp corners */}


h1, 
h2 {
    font-family: "DM Serif Display", serif;
    color: #184f63; /* dark-blue */
}

/* about section */
#about {
    background-color: white;
}

/* Portfolio section */
#portfolio {
    background-color: #dbdcde; /* light grey */
}

/* Contact section */
#contact {
    background-color: white; 

}
/* hero image section */
#hero {
    background-color: lightgray;
    background-image: url('../images/background.webp'); /* hero background image */
    background-position: 50% 70%;
    background-size: cover;
    min-height: 500px;
    width:100%;
    padding: 5% 7%;
}

/*more sections*/
#portfolio-cards .card-title {
    color:#0f7798; /* mid-blue */
    font-size: 1.2rem;
}

#portfolio-cards .btn:hover {
    color: #0f7798; /* mid-blue */
}

#portfolio-cards .card-text { 
    min-height: 120px;
}

@media screen and (max-width: 1200px) {
    #portfolio-cards {
        min-height:auto;

    }
}
